.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: red;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#button1 {
  border: 5px solid gold;
  height: auto;
  width: 500px;
  /* position: absolute; */
  left: 670px;
  top: 300px;
  background: transparent;
  z-index: 1000;
}

#button1 button {
  height: auto;
  width: 100%;
  background: transparent;
  padding: 0px;
  border: white;
}

#button1 img {
  height: auto;
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
  content: auto;
  border-radius: 100px;
  /* border: 5px solid red; */
  display: block;
}

.topcontainer {
  display: flex;
  flex-direction: row;
}
