#reminder1 img{
    width: 750px;
    height: 750px;
    object-fit: contain;
    position: absolute;
    bottom: 200px;
    left: -125px;
}

#reminderText{
    position: absolute;
    top: 700px;
    left: 170px;
    font-family: 'Athelas', 'Arial Narrow Bold';
    font-size: 30px;
    display: flex;
    color:#97096F;
    background: #3B7B84;
    border-radius: 20px;
}